In [1]:
#global temperature

In [2]:
# Include this line to make plots interactive
%matplotlib notebook
# Dependencies
import os
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
global_temp_path = "../data/GlobalTemperatures.csv"

global_data = pd.read_csv(global_temp_path)
global_data

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [6]:
global_data.dropna()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1200,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367
1201,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414
1202,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341
1203,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267
1204,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [10]:
global_data["date"]= pd.to_datetime(global_data['dt'].astype(str),format="%Y/%m/%d")
global_data['YEAR'] = pd.DatetimeIndex(global_data["dt"]).year
global_data['year']=pd.DatetimeIndex(global_data["dt"]).year

In [11]:
global_data

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,date,YEAR,year
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN,1750-01-01,1750,1750
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN,1750-02-01,1750,1750
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN,1750-03-01,1750,1750
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN,1750-04-01,1750,1750
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN,1750-05-01,1750,1750
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057,2015-08-01,2015,2015
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058,2015-09-01,2015,2015
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062,2015-10-01,2015,2015
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063,2015-11-01,2015,2015
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062,2015-12-01,2015,2015

In [12]:
global_data.dropna()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,date,YEAR,year
1200,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367,1850-01-01,1850,1850
1201,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414,1850-02-01,1850,1850
1202,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341,1850-03-01,1850,1850
1203,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267,1850-04-01,1850,1850
1204,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249,1850-05-01,1850,1850
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057,2015-08-01,2015,2015
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058,2015-09-01,2015,2015
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062,2015-10-01,2015,2015
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063,2015-11-01,2015,2015
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062,2015-12-01,2015,2015

In [13]:

global_data_df= global_data.drop(columns=['LandAndOceanAverageTemperatureUncertainty','LandAndOceanAverageTemperature','LandMinTemperatureUncertainty', 'LandMaxTemperatureUncertainty', 'LandAverageTemperatureUncertainty'])

In [16]:
global_data_df

,dt,LandAverageTemperature,LandMaxTemperature,LandMinTemperature,date,YEAR,year
0,1750-01-01,3.034,NaN,NaN,1750-01-01,1750,1750
1,1750-02-01,3.083,NaN,NaN,1750-02-01,1750,1750
2,1750-03-01,5.626,NaN,NaN,1750-03-01,1750,1750
3,1750-04-01,8.490,NaN,NaN,1750-04-01,1750,1750
4,1750-05-01,11.573,NaN,NaN,1750-05-01,1750,1750
...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,20.699,9.005,2015-08-01,2015,2015
3188,2015-09-01,12.999,18.845,7.199,2015-09-01,2015,2015
3189,2015-10-01,10.801,16.450,5.232,2015-10-01,2015,2015
3190,2015-11-01,7.433,12.892,2.157,2015-11-01,2015,2015
3191,2015-12-01,5.518,10.725,0.287,2015-12-01,2015,2015

In [18]:
clean_global_data= global_data_df.dropna()

In [19]:
clean_global_data

,dt,LandAverageTemperature,LandMaxTemperature,LandMinTemperature,date,YEAR,year
1200,1850-01-01,0.749,8.242,-3.206,1850-01-01,1850,1850
1201,1850-02-01,3.071,9.970,-2.291,1850-02-01,1850,1850
1202,1850-03-01,4.954,10.347,-1.905,1850-03-01,1850,1850
1203,1850-04-01,7.217,12.934,1.018,1850-04-01,1850,1850
1204,1850-05-01,10.004,15.655,3.811,1850-05-01,1850,1850
...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,20.699,9.005,2015-08-01,2015,2015
3188,2015-09-01,12.999,18.845,7.199,2015-09-01,2015,2015
3189,2015-10-01,10.801,16.450,5.232,2015-10-01,2015,2015
3190,2015-11-01,7.433,12.892,2.157,2015-11-01,2015,2015
3191,2015-12-01,5.518,10.725,0.287,2015-12-01,2015,2015

In [24]:
global_grouped= clean_global_data.groupby(['YEAR']).mean()
#hkdata = hk_data_grouped.round(decimals=2)
#hkdata
global_grouped

      LandAverageTemperature  LandMaxTemperature  LandMinTemperature  year
YEAR
1850                    7.90               13.48                1.96  1850
1851                    8.18               13.08                2.20  1851
1852                    8.10               13.40                2.34  1852
1853                    8.04               13.89                1.89  1853
1854                    8.21               13.98                1.76  1854
...                      ...                 ...                 ...   ...
2011                    9.52               15.28                3.83  2011
2012                    9.51               15.33                3.76  2012
2013                    9.61               15.37                3.91  2013
2014                    9.57               15.31                3.88  2014
2015                    9.83               15.57                4.15  2015

[166 rows x 4 columns]

In [27]:
gcd_df= global_grouped.rename(columns={"LandAverageTemperature": "AvgTemp", "LandMaxTemperature": "MaxTemp", "LandMinTemperature": "MinTemp"})

In [29]:
gcd_df

      AvgTemp  MaxTemp  MinTemp  year
YEAR
1850     7.90    13.48     1.96  1850
1851     8.18    13.08     2.20  1851
1852     8.10    13.40     2.34  1852
1853     8.04    13.89     1.89  1853
1854     8.21    13.98     1.76  1854
...       ...      ...      ...   ...
2011     9.52    15.28     3.83  2011
2012     9.51    15.33     3.76  2012
2013     9.61    15.37     3.91  2013
2014     9.57    15.31     3.88  2014
2015     9.83    15.57     4.15  2015

[166 rows x 4 columns]

In [46]:
meansum= gcd_df["AvgTemp"]
listofmean= meansum.to_list()
print(listofmean)
lm= listofmean

[7.9, 8.18, 8.1, 8.04, 8.21, 8.11, 8.0, 7.76, 8.1, 8.25, 7.96, 7.85, 7.56, 8.11, 7.98, 8.18, 8.29, 8.44, 8.25, 8.43, 8.2, 8.12, 8.19, 8.35, 8.43, 7.86, 8.08, 8.54, 8.83, 8.17, 8.12, 8.27, 8.13, 7.98, 7.77, 7.92, 7.95, 7.91, 8.09, 8.32, 7.97, 8.02, 8.07, 8.06, 8.16, 8.15, 8.21, 8.29, 8.18, 8.4, 8.5, 8.54, 8.3, 8.22, 8.09, 8.23, 8.38, 7.95, 8.19, 8.18, 8.22, 8.18, 8.17, 8.3, 8.59, 8.59, 8.23, 8.02, 8.13, 8.38, 8.36, 8.57, 8.41, 8.42, 8.51, 8.53, 8.73, 8.52, 8.63, 8.24, 8.63, 8.72, 8.71, 8.34, 8.63, 8.52, 8.55, 8.7, 8.86, 8.76, 8.76, 8.77, 8.73, 8.76, 8.85, 8.58, 8.68, 8.8, 8.75, 8.59, 8.37, 8.63, 8.64, 8.87, 8.56, 8.63, 8.28, 8.73, 8.77, 8.73, 8.58, 8.8, 8.75, 8.86, 8.41, 8.53, 8.6, 8.7, 8.52, 8.6, 8.7, 8.6, 8.5, 8.95, 8.47, 8.74, 8.35, 8.85, 8.69, 8.73, 8.98, 9.17, 8.64, 9.03, 8.69, 8.66, 8.83, 8.99, 9.2, 8.92, 9.23, 9.18, 8.84, 8.87, 9.04, 9.35, 9.04, 9.2, 9.52, 9.29, 9.2, 9.41, 9.57, 9.53, 9.32, 9.7, 9.53, 9.73, 9.43, 9.51, 9.7, 9.52, 9.51, 9.61, 9.57, 9.83]

In [42]:
a= gcd_df["AvgTemp"] 
#b= hkdata["max_Temp"] 
#c= hkdata["min_temp"]
d= gcd_df["year"]
print(d)

YEAR
1850    1850
1851    1851
1852    1852
1853    1853
1854    1854
        ...
2011    2011
2012    2012
2013    2013
2014    2014
2015    2015
Name: year, Length: 166, dtype: int64

In [50]:
list_of_years= gcd_df["year"].to_list()

import matplotlib
import matplotlib.pyplot as plt
import numpy as np

# Data for plotting
t = list_of_years
s = lm


fig, ax = plt.subplots()
ax.plot(t, s)

ax.set(xlabel='years (s)', ylabel='temp (C)',
       title='Global Temperature (C)')
ax.grid()

fig.savefig("test.png")
plt.show()